extends layout

block content
  .container
    form(action='/profile/edit' method="POST")
      .col-2of5.bg-white.profile
        .relative.img-edit
          img.avatar(src=user.avatarUrl alt="avatar")
          img.avatar-upload(src="/img/upload.png" alt="upload-img")
        input.input-profile(type="text" value=user.name name="name" placeholder="Full name")
        h5=`@${user.username}`
        input.input-profile(type="text" value=user.location name="location" placeholder="Location")
        textarea.input-profile(placeholder="Personal description" name="bio")=user.bio
        button.btn-primary.space-top Save
        a.btn-border.space-top(href="/profile") Cancel
    include tweet
block script
  script.
    const client = filestack.init('AQpVEVzoNQsGxn1sWegZOz'); 
    let options = {
      "displayMode": "inline",
      "container": ".picker-content",
      "maxFiles": 4,
      "accept": [
        "image/jpeg",
        "image/jpg",
        "image/png",
        "image/bmp",
        "image/gif",
        "application/pdf"
      ],
      "storeTo": {
        "container": "devportal-customers-assets",
        "path": "user-uploads/",
        "region": "us-east-1"
      },
      "fromSources": [
        "local_file_system"
      ],
      "uploadInBackground": false
    };
    picker = this.client.picker(options);
    picker.open();