extends layout

block content
  h1= title
  - const first20Books = books.slice(20-19)
  div.flex-container
    each book in first20Books
      figure
        img(src=book.thumbnailUrl, alt=book.title)
        figcaption
          h3= book.title
          h5= book.authors
          p ISBN: #{book.isbn}
